<html>
  <head> </head>
  <body>
    <div id="footer-div-container">
      <div><p>@ coding ninjas, All rights reserved</p></div>
      <div id="footer-link-container">
        <a href="/">Home</a>
        <% if(locals.user){%>
        <a href="/user/profile/<%=locals.user.id%>">Profile</a>
        <%}%>
      </div>
    </div>
  </body>
</html>
