<html>
  <head> </head>
  <body>
    <div id="header-div-container">
      <div><p>codial</p></div>
      <div id="header-link-container">
        <% if(locals.user){%>
        <div>
          <a href="/users/profile/<%=locals.user.id%>"><%=user.name%></a>
          <a href="/users/signout">Sign Out</a>
        </div>
        <%} else{%>
        <div>
          <a href="/users/signin">Sign In</a>
          <a href="/users/signup">Sign Up</a>
        </div>
        <%}%>
      </div>
    </div>
  </body>
</html>
